{% extends "base.html" %}

{% block content %}
    <!-- Kategori -->
    <section id="kategori" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Kategori Produk</h2>
            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{product.image}}" class="card-img-top" alt="Gambar Kategori" style="width: 200px; height: 300px; align-items:center;">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="text-transform: uppercase;">{{product.category}}</h5>
                            <p class="card-text">Lihatlah Produk-produk {{product.category}} terbaru.</p>
                            <a href="#" class="btn btn-outline-primary">Lihat Produk</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}