{% extends "base.html" %}

{% block content %}
    <!-- Kontak -->
    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Kontak Kami</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4>Alamat</h4>
                    <p>Cibitung<br>Kota Bekasi, Provinsi Jawa Barat<br>Indonesia</p>
                    <h4>Email</h4>
                    <p>hendrawanoktavianto786@gmail.com</p>
                    <h4>WhatsApp</h4>
                    <p>+6289 580 700 7512</p>
                </div>
                <div class="col-md-6">
                    <h4>Ada Kebutuhan Project ?</h4>
                    <form action="/sendemail" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Subject Email</label>
                            <input type="text" class="form-control" id="name" name="subject" placeholder="Masukkan nama Anda">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="from_email" placeholder="Masukkan email Anda">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Pesan</label>
                            <textarea class="form-control" id="message" name="html_content" rows="4" placeholder="Tulis pesan Anda"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Kirim</button>
                    </form>
                    <p>{{ message }}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h4>Lokasi Saya</h4>
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=metland+cibitung&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" 
                            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
</section>            
{% endblock %}